div {
  background-color:rgb(120, 201, 222);
}
html{
  background-color:rgb(120, 201, 222);
}
/* simplest solutions to vertically center text is to use top and bottom padding. */
h1 {
  padding: 40px 0 40px;
  text-align: center;
  color: rgb(58, 6, 98);
}
/* .col-centered{
    float: none;
    margin: 0 auto;
} */
