div {
  background-color:rgb(120, 201, 222);
}
html{
  background-color:rgb(120, 201, 222);
}
/* simplest solutions to vertically center text is to use top and bottom padding. */
h1 {
  padding: 40px 0 40px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: rgb(58, 6, 98);
}

label {
  padding-left: 32%;
  color: rgb(179, 20, 20);
  font-weight: bold;
  font-size: 20px;
}
